header {
    background-image:  url(LEO5.jpg);
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
a {
    text-decoration: none;
}
.ul-1 {
    display: flex;
    list-style: none;
    justify-content:space-evenly;
    color: white;
    font-size: x-large;
    margin-left: 600px;
    padding-top: 20px;
}
#li-1 {
    border: solid greenyellow 1px;
    padding: 8px 25px 8px 20px; 
    border-radius: 8px;
    
}
#li-1:hover {
    background-color: greenyellow;
    color: white;
}
#li-2 {
    border: solid greenyellow 1px;
    padding: 8px 25px 8px 20px;
    border-radius: 8px;
}
#li-2:hover {
    background-color: greenyellow;
    color: greenyellow;
}
#li-3 {
    border: solid greenyellow 1px;
    padding: 8px 25px 8px 20px;
    border-radius: 8px;
}
#li-3:hover {
    background-color: greenyellow;
    color: greenyellow;
}
#li-4 {
    border: solid greenyellow 1px;
    padding: 8px 25px 8px 20px;
    border-radius: 8px;
}
#li-4:hover {
    background-color: greenyellow;
    color: white;

}
.div-ctn {
    color: white;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 100px;
    font-size: 30px;
   

}
.main{
    background-color: white;
    text-align: center;
    margin: auto;
}
#hd-1st {
    text-align: center;
    color: red;
}
#cocktail-1 {
    width: 350px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.fld-1 {
    border: solid black 3px;
    display: flex;
    width: 1000px;
    margin:auto;
    border-radius: 5px;
    padding: 40px 20px 40px 20px;
    margin-bottom: 30px;
}
#shake {
    padding-right: 10px;
    padding-left: 10px;
}
.fld-2 {
    border: solid black 3px;
    display: flex;
    width: 1000px;
    margin:auto;
    border-radius: 5px;
    padding: 40px 20px 40px 20px;
    margin-bottom: 30px;
    margin-top: 20px;

}
.sect-last {
    width: 120px;
    text-align: center;
    color: white;
    background-size: cover;
}
video{
    width: 320px;
    position: center;
    padding: 2px 5px 5px 5px;
    border-style: red solid 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.last {
    padding-top: 200px;
    padding-bottom: 200px;
}
#wag {
    padding-left: 230px;
    padding-right: 230px;
    color: white;
}
#ace_k{
    color: white;
}
footer {
    height: 500px;
    background-size: 1400px 500px;
    background-repeat: no-repeat;
    text-align: center;
    color: whitesmoke;
}
#jboy {
    background-image: url(INSTAL2.JPG);
    margin-left: 160px;
    margin-right: 160px;
   padding-bottom: 0;
   color: white;
}